# ~/.gitconfig | Curtis Free (https://curtisfree.com)

[include]
    path = ~/.gitconfig.local

[color]
    diff = auto
    status = auto
    branch = auto
    pager = true
    ui = auto
    interactive = auto

[log]
    follow = true

[format]
    # http://stackoverflow.com/questions/5889878/color-in-git-log
    pretty = format:%C(green)%H%C(blue)%d%n%C(blue)» %C(yellow)%cN %C(blue)› %C(red)%ch%n%s%n

[push]
    default = simple

[init]
    defaultBranch = main
